.lds-ring {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    margin: 0px;
    border: 2px solid #404040;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #404040 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#quit-pronounce {float: right};
#textbox {display: block;}
#word {
    font-weight: bold;
    font-size: 7vw;
    text-align: center;
}
#progress {font-weight: bold;}
.incorrect {
    font-weight: bold;
    color: #8B0000;
}
.formfield * {
    vertical-align: top;
}
html, body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
}
.page-footer {
    background-color: #FFCE1B;
}
.page-header, .page-footer, .page-body {
    padding: 8px;
}
.page-header, .page-footer {
    flex-grow: 0;
    flex-shrink: 0;
}
.page-body {
    flex-grow: 1;
}
.wrapper {
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
[hidden] {
    display: none !important;
}
